body {
    background-image: url(../img/about/about-bg.svg);
    background-repeat: no-repeat;
    background-position: 50% -25%;
    font-family: "Noto Serif TC";
}

.main-header,
.about-brand,
.about-style {
    position: relative;
    z-index: 3;
}

/* about */
.brand-relative {
    position: relative;
}

.brand-img img {
    width: 100%;
}

.brand-bg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 525px;
}

.about-brand .brand-img {
    width: 70%;
    height: 450px;
    overflow: hidden;
}

.about-brand .brand-img img {
    object-position: 0px -130px;
}

.brand-color {
    width: 360px;
    height: 244px;
    background-color: #e2e1e4;
    background-image: url(../img/pattern/about-p1p2.png);
    align-self: flex-end;
}

.about-brand h3 {
    position: absolute;
    top: 40%;
    left: 65%;
    width: 450px;
    color: #2d2e36;
}

.content {
    margin: 50px auto 120px auto;
    width: 1040px;
    text-align: center;
    color: #2b333e;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: calc(40/24);
    letter-spacing: 0.1em;
}

.content p {
    margin-bottom: 2em;
}

.style-relative {
    position: relative;
}

.style-img img {
    width: 100%;
}

.style-bg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 410px;
}

.about-style .style-img {
    width: 70%;
    height: 355px;
    overflow: hidden;
}

.about-style .style-img img {
    object-position: 0px -490px;
}

.style-color {
    width: 360px;
    height: 244px;
    background-color: #e2e1e4;
    background-image: url(../img/pattern/about-p1p2.png);
    align-self: flex-end;
}

.about-style h3 {
    position: absolute;
    top: 45%;
    left: 17%;
    width: 180px;
    color: #2d2e36;
}