:root {
    --spacing-1: 12px;
    --spacing-2: 16px;
    --spacing-3: 20px;
    --spacing-4: 24px;
    --spacing-5: 28px;
    --spacing-6: 32px;
    --spacing-7: 36px;
    --spacing-8: 40px;
    --spacing-9: 44px;
    --spacing-10: 48px;
    --spacing-11: 52px;
    --spacing-12: 56px;
    --spacing-13: 60px;
}

/* font */

body {
    font-family: "Noto Serif TC";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: 0.3em;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: 0.2em;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0.15em;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.8;
    letter-spacing: 0.15em;
}

h5 {
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 0.15em;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 2.25rem;
        line-height: 1.3;
        letter-spacing: 0.4em;
    }

    h2 {
        font-size: 2.25rem;
        line-height: 1.3;
        letter-spacing: 0.3em;
    }

    h3 {
        font-size: 1.875rem;
        line-height: calc(40 / 30);
        letter-spacing: 0.15em;
    }

    h4 {
        font-size: 1.5rem;
        line-height: calc(30 / 24);
        letter-spacing: 0.2em;
    }

    h5 {
        font-size: 1.25rem;
        line-height: calc(30 / 20);
        letter-spacing: 0.1em;
    }
}

/* background pattern */
.material {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern/bg-img-30.png);
    background-repeat: repeat;
    z-index: 1;
}

/* header */
.main-header {
    z-index: 5;
    transition: background-color 0.4s ease-out, box-shadow 0.4s ease-out, transform 0.4s ease-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
    box-sizing: border-box;
}

.header-logo {
    height: 35px;
    width: 98px;
}

.header-logo img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.nav-area {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-4, 24px);
}

.main-nav {
    opacity: 0;
    position: fixed;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    background-image: url(../img/pattern/bg-img-30.png);
    background-repeat: repeat;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(-100%);
    transition: transform 0.8s, opacity 1s;
}

.main-nav.shownav {
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    background-image: url(../img/pattern/bg-img-30.png);
    background-repeat: repeat;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(0);
    transition: transform 0.8s, opacity 1s;
}

.main-nav ul {
    width: 70%;
    flex-direction: column;
    display: flex;
    justify-self: left;
    margin-left: 50px;
}

.main-nav .nav-list {
    margin-bottom: 50px;
    gap: 10px;
}

.nav-item {
    position: relative;
}

.nav-item::before {
    content: "";
    height: 1px;
    width: 19px;
    position: absolute;
    top: 50%;
    right: 1px;
    background-color: #2d2e36;
    transition: 0.3s;
}

.nav-item::after {
    content: "";
    height: 19px;
    width: 1px;
    top: 25%;
    right: 10px;
    background-color: #2d2e36;
    display: block;
    position: absolute;
    transition: 0.5s;
}

.nav-item.on::after {
    transform: translate(-50%, 0) rotate(90deg);
    transition: 0.5s;
}

.submenu li {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out, opacity 0.9s ease-out;
}

.submenu.on>li {
    max-height: 191px;
    opacity: 1;
    margin-top: 10px;
}

.nav-list a {
    color: #2d2e36;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.15em;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.submenu a {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: var(--spacing-3, 20px);
}

.icon-img {
    width: 25px;
    height: 25px;
}

.icon-img img {
    height: 100%;
}

div.nav-head {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

a.nav-logo {
    height: 35px;
    width: 98px;
}

a.nav-logo img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-3, 20px);
    margin-right: 20px;
}

.hb {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    position: relative;
    margin: auto 0;
    justify-items: start;
    margin-top: 2px;
}

.hb::after {
    content: "";
    height: 1px;
    width: 100%;
    top: 10px;
    background-color: #2d2e36;
    display: block;
    position: absolute;
    transition: 0.3s;
}

.hb.shownav::after {
    width: 0;
    transition: 0.3s ease-in-out;
}

.hb-line {
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
}

.hb-line::before,
.hb-line::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #2d2e36;
    display: block;
    position: absolute;
    transition: 0.5s;
}

.hb.shownav>.hb-line:before {
    transform: translateY(10px) rotate(-30deg);
    transition: 0.5s ease-in-out;
}

.hb.shownav>.hb-line::after {
    transform: translateY(-10px) rotate(30deg);
    transition: 0.5s ease-in-out;
}

.hb-line::before {
    top: 0;
}

.hb-line::after {
    bottom: 0;
}

.hb-text {
    display: block;
    position: relative;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-top: 24px;
    color: #2d2e36;
}

.hb-text .open,
.hb-text .close {
    position: absolute;
    top: 0;
    left: 0;
    transition: color 0.5s ease-in-out, 0.5s ease-in-out;
}

.hb-text .hide {
    opacity: 0;
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 20px;
    }

    .hb {
        display: none;
    }

    .nav-area {
        gap: var(--spacing-8, 40px);
    }

    .main-nav {
        max-height: none;
        opacity: 1;
        transition: none;
        position: static;
        background: none;
        transform: translateY(0);
        box-shadow: none;
    }

    a.nav-logo {
        display: none;
    }

    .nav-icon {
        display: none;
    }

    .main-nav.shownav {
        max-height: none;
        opacity: 1;
        transition: none;
        position: static;
        background: none;
        box-shadow: none;
    }

    .main-nav .nav-list {
        flex-direction: row;
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
        gap: var(--spacing-8, 40px);
    }

    .nav-list a {
        width: 100%;
    }

    .header-logo {
        height: 50px;
        width: 140px;
    }

    .main-nav ul {
        margin-left: 0;
    }

    .nav-item::before,
    .nav-item::after {
        display: none;
    }

    .nav-list a:hover {
        color: #ccccd6;
    }
}

/* footer */
.main-footer {
    position: relative;
    width: 100%;
    color: #2d2e36;
    padding-top: 10rem;
    padding-bottom: var(--spacing-4, 24px);
}

.footer-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-image: url(../img/footer/footer-bg.png);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    z-index: -1;
}

.footer-brand {
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: var(--spacing-2, 16px);
    margin-top: 1rem;
}

.footer-brand .footer-logo {
    display: flex;
    height: 39px;
    width: 110px;
    margin: 0 auto;
}

.footer-brand.footer-logo img {
    width: 100%;
    height: 100%;
}

.footer-link {
    display: none;
}

.footer-contact {
    text-align: center;
}

.footer-contact {
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(30/20);
    letter-spacing: 0.1em;
}

.footer-contact p a {
    text-decoration: none;
}

.footer-contact .contact-title {
    font-weight: 700;
}

.copyright {
    width: 100%;
    text-align: center;
    color: #495c69;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: calc(20 / 16);
    letter-spacing: 0.1em;
}

.footer-icons .footer-img {
    width: 30px;
    height: 30px;
}

.footer-icons .footer-img img {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .footer-brand .footer-logo {
        display: flex;
        height: 60px;
        width: 168px;
    }

    .footer-container {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .footer-contact {
        text-align: left;
    }

    .footer-contact {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: calc(30/20);
        letter-spacing: 0.1em;
    }

    .copyright {
        margin-top: 3.5rem;
        font-size: 1rem;
        grid-column: span 3 / span 3;
    }

    .footer-icons {
        gap: var(--spacing-5, 28px);
    }

    .footer-icons .footer-img {
        width: 40px;
        height: 40px;
    }

}

@media screen and (min-width: 1024px) {
    .footer-brand {
        text-align: left;
    }

    .footer-icons {
        display: flex;
        justify-content: start;
        gap: var(--spacing-5, 28px);
        margin-top: 1rem;
    }

    .footer-brand .footer-logo {
        display: flex;
        margin: 0;
    }

    .footer-brand,
    .footer-contact,
    .footer-link {
        width: auto;
        margin-bottom: 0;
    }

    .footer-link {
        display: inline-block;
        text-align: right;
    }

    .footer-container {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-link li {
        margin-bottom: 0.5rem;
    }

    .footer-link a {
        color: #2d2e36;
        text-decoration: none;
        font-size: 1.125rem;
        line-height: calc(30 / 20);
        letter-spacing: 0.1em;
        font-weight: 700;
    }
}


@media screen and (min-width: 1200px) {
    .footer-container {
        column-gap: 2rem;
    }

    .footer-contact {
        font-size: 1.25rem;
    }

    .footer-link a {
        font-size: 1.25rem;
    }
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* input隱藏上下鍵 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* header固定 */
.main-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    margin: 0;
    padding: 0;
    max-width: none;
    background-color: #fff;
    background-image: url(../img/pattern/bg-img-30.png);
    background-repeat: repeat;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out, transform 0.2s ease-out;
}

.main-header.sticky .header {
    margin: 0 auto;
    padding: 5px 20px;
}

.main-header.sticky+main {
    margin-top: 70px;
}

@media screen and (min-width: 768px) {
    .main-header.sticky .header {
        max-width: 720px;
        padding: 10px 20px;
    }
}

@media screen and (min-width: 1024px) {
    .main-header.sticky .header {
        max-width: 960px;
        padding: 15px 20px;
    }

    .main-header.sticky+main {
        margin-top: 90px;
    }
}

@media screen and (min-width: 1200px) {
    .main-header.sticky .header {
        max-width: 1140px;
        margin: 0 auto;
        padding: 15px 20px;
    }
}

@media screen and (min-width: 1400px) {
    .main-header.sticky .header {
        max-width: 1200px;
    }
}

/* 淡入淡出 */
.aos {
    opacity: 0;
    transition: opacity 1s;
}

.aos.ed {
    opacity: 1;
}

/* 文字漸變出現 */
.char {
    opacity: 0;
    transition: opacity 0.7s ease-out;
}

.banner-content .char {
    opacity: 0.1;
}

/* lightbox-pic */
.item-lightbox {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 92, 105, 0.7);
    overflow: auto;
    align-items: start;
    justify-content: center;
}

.item-lightbox.show {
    display: flex;
}

.lightbox-content {
    background-color: #fffef9;
    margin: auto;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    height: 500px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-out;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close-btn {
    width: 35px;
    height: 35px;
    background-color: #495c69;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
    cursor: pointer;
}

.close-btn::before,
.close-btn::after {
    content: "";
    background-color: #fffef9;
    position: absolute;
    width: 25px;
    height: 2px;
    top: 50%;
    right: 15%;
}

.close-btn::before {
    transform: rotate(45deg);
}

.close-btn::after {
    transform: rotate(-45deg);
}

.lightbox-pic {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: start;
    gap: 10px;
}

.box-pic-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.small-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    aspect-ratio: 4/5;
}

.small-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
}

.box-pic-big {
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 4/5;
    border-radius: 5px;
}

.box-pic-big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
}

@media screen and (min-width: 768px) {
    .lightbox-content {
        max-width: 800px;
        flex-direction: row;
        gap: 15px;
    }

    .lightbox-pic {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-self: start;
        gap: 10px;
    }

    .lightbox-info {
        width: 50%;
    }
}

/* lightbox-info */
.lightbox-info {
    margin: auto;
}

.box-info-content {
    padding: 0 10px 15px;
    border-bottom: 1px solid #2b333e;
}

.box-info-content h4 {
    font-size: 1.25rem;
    color: #2d2e36;
    margin-bottom: 15px;
}

.box-info-content p {
    color: #2B333E;
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: calc(30/18);
    letter-spacing: 0.1em;
}

.box-price-info {
    padding: 15px 10px 0;
    font-size: 1.4rem;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: #2b333e;
}

@media screen and (min-width: 768px) {
    .box-info-content {
        padding-inline: 20px;
    }

    .box-info-content h4 {
        font-size: 1.3rem;
    }

    .box-info-content p {
        font-size: 1.125rem;
    }

    .box-price-info {
        padding-inline: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .box-info-content {
        padding-inline: 15px;
        padding-bottom: 30px;
    }

    .box-info-content h4 {
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    .box-price-info {
        padding: 20px 15px 0;
    }
}

/* lightbox-selector */
.box-specification {
    margin: 20px 0;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.box-type {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-type .title p {
    color: #2b333e;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-right: 10px;
}

.box-option input {
    display: none;
}

.box-selector {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.box-option span {
    color: #495c69;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    display: block;
    width: 45px;
    height: 32px;
    border: 1.5px solid #CCCCD6;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-option input:checked+span {
    color: #2b333e;
    border-color: #2b333e;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .box-specification {
        padding-inline: 20px;
    }

    .box-type .title p {
        margin-right: 10px;
    }

    .box-selector {
        gap: 8px;
    }
}

@media screen and (min-width: 1200px) {
    .box-specification {
        padding-inline: 10px;
        margin: 30px 0;
        gap: 25px;
    }

    .box-type .title p {
        margin-right: 25px;
    }

    .box-selector {
        gap: 25px;
    }
}

/* lightbox-quantity */
.quantity {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.quantity-input {
    display: flex;
    align-items: center;
}

.quantity-input .btn-icon {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2b333e;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.qty-input {
    color: #2b333e;
    border: none;
    text-align: center;
    width: 90px;
    padding: 10px 0;
    outline: none;
    font-family: "Noto Serif TC";
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    background-color: transparent;
}

.box-button-cart {
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.box-btn-cart {
    background-color: #495c69;
    color: #eef7f2;
    border: none;
    border-radius: 6px;
    padding: 14px 0;
    font-family: "Noto Serif TC";
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.4em;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-btn-cart:hover {
    background-color: #ccccd6;
    color: #495c69;
    font-weight: 700;
}

.box-btn-cart:active {
    color: #eef7f2;
    background-color: #ccccd6;
}

@media screen and (min-width: 768px) {
    .box-button-cart {
        margin: 0 20px;
    }
}

@media screen and (min-width: 1200px) {
    .quantity {
        margin-bottom: 25px;
    }

    .box-button-cart {
        margin: 0 10px;
    }
}