.material {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/pattern/bg-img-30.png);
    background-repeat: repeat;
    background-size: auto;
    z-index: 1;
}

.form-area {
    position: relative;
    z-index: 3;
}

/* login */
main {
    background-image: url(../img/login/login-bg.svg);
    background-repeat: no-repeat;
    background-position: 0% -5%;
    background-size: auto 30%;
}

.form-area {
    margin-top: 150px;
    text-align: center;
}

.form-area h4 {
    margin-bottom: 15px;
    color: #2b333e;
}

.register-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-button {
    display: flex;
    justify-content: space-around;
    width: 195px;
    margin-bottom: 35px;
    background-color: #e2e1e4;
    border-radius: 25px;
}

.toggle-button button {
    font-family: "Noto Serif TC";
    font-size: 0.875rem;
    font-weight: 600;
    line-height: calc(30/18);
    letter-spacing: 0.1em;
    flex: 1;
    margin: 5px 7px;
    padding: 1px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    color: #2b333e;
    border-radius: 20px;
}

.toggle-button button.active {
    background-color: #fff;
    color: #2b333e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-section input {
    font-family: "Noto Serif TC";
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #495c69;
    width: 285px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccccd6;
    background-color: transparent;
}

.form-section input:focus {
    outline: none;
    border-bottom: 1px solid #495c69;
    transform: matrix(0);
    transition: 0.4s ease-in-out;
}

.check-box {
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: left;
    margin: 2.5px;
}

.check-box input[type="checkbox"] {
    flex-shrink: 0;
    width: 15px;
    height: 15px;
}

.check-box span {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #495c69;
}

.check-box a {
    color: #495c69;
    font-weight: 800;
}

.continue-btn {
    width: 100%;
    padding: 14px 120px;
    background-color: #495C69;
    font-family: "Noto Serif TC";
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #eef7f2;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.continue-btn:hover {
    background-color: #ccccd6;
    color: #495c69;
    font-weight: 700;
}

.continue-btn:active {
    color: #eef7f2;
    background-color: #ccccd6;
}

.password-input {
    position: relative;
    width: 100%;
}

.password-input .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.forget-password {
    margin: 7px 0;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.forget-password a {
    color: #495c69;
    text-decoration: none;
    padding-left: 5px;
}

.social-login p {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #495C69;
    margin: 20px 0;
}

.social-btn button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
}

.social-btn img {
    width: 100%;
    height: 100%;
}

.social-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.toggle-password img.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    main {
        background-position: 0% -10%;
        background-size: auto 40%;
    }
}

@media screen and (min-width: 1024px) {
    main {
        background-position: 0% -5%;
        background-size: auto 35%;
    }

    .form-area h4 {
        margin-bottom: 40px;
    }

    .form-area {
        margin-bottom: 100px;
    }

    .toggle-button {
        width: 280px;
        margin-bottom: 55px;
    }

    .toggle-button button {
        font-size: 1rem;
        margin: 5px 7px;
        padding: 5px 20px;
        font-weight: bold;
        border-radius: 20px;
    }

    .form-section input {
        font-size: 1rem;
        width: 426px;
        border-bottom: 1px solid #ccccd6;
    }

    .check-box {
        gap: 8px;
        margin: 2px;
    }

    .check-box input[type="checkbox"] {
        width: 18px;
        height: 18px;
    }

    .check-box span {
        font-size: 0.875rem;
    }

    .continue-btn {
        width: 100%;
        font-size: 1.2rem;
        padding: 14px 145px;
        cursor: pointer;
    }

    .social-login p {
        font-size: 1rem;
    }

    .forget-password {
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 1200px) {
    main {
        background-position: 0% -15%;
        background-size: auto 50%;
    }
}

@media screen and (min-width: 1400px) {
    main {
        background-position: 0% -15%;
        background-size: auto;
    }
}

/* 隱藏表單 */
.form-section.hidden {
    display: none;
}