.material {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/pattern/bg-img-30.png);
    background-repeat: repeat;
    background-size: auto;
    z-index: 1;
}

.productdetail-area,
.detail-area,
.relevant-product {
    position: relative;
    z-index: 3;
}

.decoline {
    margin: 30px 0;
    height: 35px;
    background-image: url(../img/decoline1200.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 60%, cover;
    overflow: hidden;
}

@media screen and (min-width: 1024px) {
    .decoline {
        margin: 60px auto;
        width: 100%;
        background-size: auto, cover;
    }
}

/* breadcrumb */
.breadcrumb {
    display: none;
}

@media screen and (min-width: 1024px) {
    .breadcrumb {
        display: flex;
        padding: var(--spacing-3, 20px);
    }

    .breadcrumb li:not(:first-child)::before {
        margin: 0.5rem;
        content: "/";
    }

    .breadcrumb a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: #2b333e;
    }

    .breadcrumb li:hover a {
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-color: #2b333e;
    }
}

/* product-gallery */
.product-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.product-gallery {
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.product-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.small-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    aspect-ratio: 4/5;
}

.small-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
}

.product-big {
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 4/5;
    border-radius: 5px;
}

.product-big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
}

@media screen and (min-width: 768px) {
    .product-gallery {
        padding-inline: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .product-row {
        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 9px;
    }

    .small-img {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 5px;
        aspect-ratio: 4/5;
    }

    .small-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 4/5;
    }

    .product-big {
        order: 2;
        width: 100%;
        height: 100%;
        overflow: hidden;
        aspect-ratio: 4/5;
        border-radius: 5px;
    }

    .product-big img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 4/5;
    }
}

@media screen and (min-width: 1024px) {
    .product-content {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 25px;
        padding-inline: 30px;
        padding-top: 20px;
    }

    .product-gallery {
        width: 100%;
        padding-inline: 0;
    }

    .product-row {
        width: 25%;
        height: 100%;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .product-content {
        padding-inline: 60px;
    }

    .product-content {
        gap: 40px;
    }
}

@media screen and (min-width: 1400px) {
    .product-content {
        gap: 60px;
    }
}

/* product-info */
.product-info {
    padding-inline: 30px;
    margin: auto;
}

.info-content {
    padding: 0 10px 15px;
    border-bottom: 1px solid #2b333e;
}

.info-content h4 {
    font-size: 1.25rem;
    color: #2d2e36;
    margin-bottom: 15px;
}

.info-content p {
    color: #2B333E;
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: calc(30/18);
    letter-spacing: 0.1em;
}

.price-info {
    padding: 15px 10px 0;
    font-size: 1.4rem;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: #2b333e;
}

@media screen and (min-width: 768px) {
    .info-content {
        padding-inline: 20px;
    }

    .info-content h4 {
        font-size: 1.3rem;
    }

    .info-content p {
        font-size: 1.125rem;
    }

    .price-info {
        padding-inline: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .product-info {
        padding-inline: 0;
    }
}

@media screen and (min-width: 1200px) {
    .info-content {
        padding-inline: 15px;
        padding-bottom: 30px;
    }

    .info-content h4 {
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    .price-info {
        padding: 20px 15px 0;
    }
}

/* selector */
.specification {
    margin: 20px 0;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.type {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.type .title p {
    color: #2b333e;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-right: 15px;
}

.option input {
    display: none;
}

.selector {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.option span {
    color: #495c69;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    display: block;
    width: 45px;
    height: 32px;
    border: 1.5px solid #CCCCD6;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option input:checked+span {
    color: #2b333e;
    border-color: #2b333e;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .specification {
        padding-inline: 20px;
    }

    .type .title p {
        margin-right: 20px;
    }

    .selector {
        gap: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .specification {
        padding-inline: 10px;
        margin: 30px 0;
        gap: 25px;
    }

    .type .title p {
        margin-right: 25px;
    }

    .selector {
        gap: 25px;
    }
}

/* quantity */
.quantity {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.quantity-input {
    display: flex;
    align-items: center;
}

.quantity-input .btn-icon {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2b333e;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.qty-input {
    color: #2b333e;
    border: none;
    text-align: center;
    width: 90px;
    padding: 10px 0;
    outline: none;
    font-family: "Noto Serif TC";
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    background-color: transparent;
}

.button-cart {
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.btn-cart {
    background-color: #495c69;
    color: #eef7f2;
    border: none;
    border-radius: 6px;
    padding: 14px 0;
    font-family: "Noto Serif TC";
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.4em;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cart:hover {
    background-color: #ccccd6;
    color: #495c69;
    font-weight: 700;
}

.btn-cart:active {
    color: #eef7f2;
    background-color: #ccccd6;
}

@media screen and (min-width: 768px) {
    .button-cart {
        margin: 0 20px;
    }
}

@media screen and (min-width: 1200px) {
    .quantity {
        margin-bottom: 25px;
    }

    .button-cart {
        margin: 0 10px;
    }
}

/* detail-area */
.detail-list {
    margin: 0 auto;
    padding-inline: 20px;
}

.product-text p {
    color: #2B333E;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(30/18);
    letter-spacing: 0.1em;
    margin: 0 auto;
    margin-bottom: 30px;
}

.size-table {
    color: #2B333E;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(30/18);
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin: 5px auto;
}

th,
td {
    border: 2px solid #2B333E;
    padding: 10px 16px;
    text-align: center;
}

th {
    background-color: #e2e1e4;
    font-weight: bold;
    color: #334155;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/5;
}

@media screen and (min-width: 768px) {
    .product-text p {
        font-size: 1.125rem;
        margin: 0 20px 40px;
    }

    .size-table {
        font-size: 1.125rem;
        margin: 0 20px 40px;
    }
}

@media screen and (min-width: 1024px) {
    table {
        width: 100%;
        margin: 10px auto;
    }

    th,
    td {
        padding: 12px 16px;
    }

    .product-img {
        margin-bottom: 30px;
    }
}

/* relevant-product */
.relevant-title {
    margin: 10px 10px;
    text-align: center;
}

.items-list {
    margin: 0 10px;
}

.col {
    display: flex;
}

.item-card {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    flex-grow: 1;
    justify-content: space-between;
}

.item-card>a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.item-img {
    width: 100%;
    aspect-ratio: 8/11;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.item-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.item-img:active img {
    transform: scale(1.1);
}

.item-hover {
    display: none;
}

.cart-button {
    width: 100%;
    background-color: #495c69;
    color: #eef7f2;
    border: none;
    border-radius: 5px;
    font-family: "Noto Serif TC";
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

.cart-button::before {
    content: '';
    background-image: url(../img/header/header-icon-cart.svg-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    object-fit: cover;
    margin-right: 5px;
}

.cart-button:hover {
    color: #eef7f2;
    background-color: #ccccd6;
    font-weight: 700;
}

.item-card p {
    color: #2b333e;
    text-align: center;
}

.item-name {
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 1.4;
    margin: 10px 0;
}

.item-price {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 5px 0;
}

@media screen and (min-width: 1024px) {
    .relevant-title {
        margin: 15px 0;
        padding-left: 10px;
    }

    .items-list {
        margin: 0;
    }

    .item-card {
        position: relative;
    }

    .item-card:hover img {
        transform: scale(1.1);
    }

    .item-img .item-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 8/11;
        height: auto;
        border-radius: 5px;
        background-color: rgba(204, 204, 214, 0.7);
        background-image: url(../img/hoverdeco4.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 97%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-card:hover .item-hover {
        opacity: 1;
    }

    .cart-button {
        width: auto;
        font-size: 1.2rem;
        padding: 10px 20px;
        margin: 0;
    }

    .cart-button::before {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    .cart-button.small {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .recommend-title {
        margin: 30px 0;
    }
}

@media screen and (min-width: 1400px) {
    .item-name {
        font-size: 1.3rem;
    }

    .item-price {
        font-size: 1.25rem;
    }
}